.navbar-main {
  background: #16a1b5;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  .navbar-brand {
    font-size: 1.05rem;
    color: #fff;
    margin-right: 1rem;
    font-weight: 400;
  }

  .btn-link {
    color: rgba(255, 255, 255, .5);

    &:hover {
      color: rgba(255, 255, 255, .8);
    }

    &.active {
      color: #fff;
    }
  }

  &-profile {
    .btn-link {
      padding-top: 2px;
    }
  }
}
