.story-form-guidelines {
  .box {
    position: sticky;
    top: 1em;
    margin-top: 1em;
  }

  p {
    margin-bottom: .5em;
  }

  ul {
    margin-left: 0;
    margin-bottom: 0;

    li {
      margin-top: 0;
    }
  }
}
