- show_parent_link = defined?(show_parent_link) && show_parent_link ? show_parent_link : false
- show_story = defined?(show_story) && show_story ? show_story : false
- show_children = defined?(show_children) && show_children ? show_children : false
- show_reply_link = local_assigns.has_key?(:show_reply_link) ? show_reply_link : true
- is_upvoted = @account_upvoted_comment_ids.include? comment.id
- account = comment.account.decorate

li.comment(
  data-controller="comment"
  data-id=comment.id
  data-parent-id=comment.parent_id
  class=('comment--voted' if is_upvoted)
  data-voted=is_upvoted.to_s
)
  .comment-inner
    ul.list-inline.comment-meta(data-action="click->comment#toogleClosed")
      li.list-inline-item.comment-avatar
        = image_tag comment.account.avatar_url(:size_60), class: 'avatar avatar-xs'

      li.list-inline-item.comment-author
        = link_to account.path do
          | @#{account.username}

      li.list-inline-item
        = link_to comment do
          span(data-controller="time-ago" data-datetime=comment.created_at)
            = comment.created_at

      - if show_story
        li.list-inline-item
          | •
        li.list-inline-item
          | on: #{link_to comment.story.title, comment.story}

    / Comment bdy
    .comment-body(data-target="comment.bodyContainer")
      div == comment.body_html

    / Bottom meta
    ul.list-inline.comment-actions(data-target="comment.actionsContainer")
      li.list-inline-item
        a.comment-vote-btn(
          data-action="click->comment#toggleVote"
          data-target="comment.voteBtn"
          data-action-path=toggle_vote_api_ujs_comment_path(comment)
        )
          | #{comment.votes_count} votes

      li.list-inline-item
          | /

      li.list-inline-item
        | #{comment.children_count} replies

      li.list-inline-item
        | •

      li.list-inline-item
        = link_to 'link', comment

      - if show_parent_link && comment.parent_id
        li.list-inline-item
          = link_to 'parent', comment_path(id: comment.parent_id)

      li.list-inline-item
        | •

      - if show_reply_link
        li.list-inline-item
          a.comment-reply-btn(data-action="comment#showReply") reply

      - if policy(comment).edit?
        li.list-inline-item
          a.comment-edit-btn(data-action="comment#showEdit") edit

  / Edit form
  .comment-edit-container(
    data-target="comment.editContainer"
    data-action-path=edit_api_ujs_comment_path(comment)
  )

  / Reply form
  .comment-reply-container(
    data-target="comment.replyContainer"
    data-action-path=new_api_ujs_comment_path(story_id: comment.story_id, parent_id: comment.id)
  )

  / Child comments
  ul.comment-children
    - if show_children
      - children.each do |comment, children|
        = render 'comments/comment', comment: comment, children: children, show_children: true
