= render 'shared/popular_tags'

.columns
  .column.col-12
    .box
      .box-nav
        ul.tab
          li.tab-item
            = active_link_to 'Hot', root_path, active: :exclusive
          li.tab-item
            = active_link_to 'Recent', recent_stories_path

      = render 'stories/list', stories: @stories

    = paginate @stories, theme: :mini_box
