.p-3 { padding: .8rem !important }
.p-4 { padding: 1.16rem !important }
.p-5 { padding: 2.32rem !important }

.pt-3 { padding-top: .8rem !important }
.pt-4 { padding-top: 1.16rem !important }
.pt-5 { padding-top: 2.32rem !important }

.text-sm {
  font-size: 0.8em;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.br-3 {
  border-radius: 3px;
}
