.box.account-head
  .box-body.p-4
    .columns
      .column.col-6
        .tile
          .tile-icon
            .avatar.avatar-xl
              = image_tag @account.avatar_url(:size_60)

          .tile-content
            p.tile-title = @account.display_name
            p.tile-subtitle.text-gray = @account

      .column.col-6
        = simple_format @account.bio

  ul.tab.tab-block
    li.tab-item
      = active_link_to account_path, active: [['accounts/stories']] do
        | Stories
        sub.ml-1 = @account.stories_count

    li.tab-item
      = active_link_to account_comments_root_path, active: [['accounts/comments']] do
        | Comments
        sub.ml-1 = @account.comments_count
